.board {
  width: 720px;
  margin: 0 auto;
}
.cell {
  float: left;
  padding: 5px;
  margin: 5px;
}

.idle {
  background-color: #CCC;
}

.selected {
  background-color: #C00;
}

.moveable {
  background-color: #0C0;
}