.board-image{
    background-image: url(backgammonBg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    height: 660px;
    padding: 30px;
}

.board {
    height: 100%;
}

.section-bottom{
    bottom: 5px;
    position: absolute;
}

.transparent{
    background-color: white;
    opacity: 0;
}
